<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Minimal App Prescrypto</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/statics/css/main.css">
</head>
<body>
  <!-- Header -->
  <section class="container-fluid padding2em">
    <header class="row">
      <div class="col-md-12 text-center">
        <h1>Minimal app for Prescrypto API</h1>
      </div>
    </header>
  </section>


  <section class="container-fluid padding2em">
    <div class="row">
      <article class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#prescriptions" aria-controls="prescriptions" role="tab" data-toggle="tab">Prescripciones</a></li>
          <li role="presentation"><a href="#create-rx" aria-controls="create-rx" role="tab" data-toggle="tab">Crear Receta</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- Prescriptions -->
          <div role="tabpanel" class="tab-pane active" id="prescriptions">
            <article class="table-responsive">
              <table class="table table-striped table-hover" id="app-prescription">
                <thead>
                  <tr>
                    <td>ID</td><td>Medico</td><td>Paciente</td><td>Diagnostico</td><td>Imprimir</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in items">
                    <td><a href="#" data-toggle="modal" data-target="#rx_modal_detail" v-on:click="rx_detail(item)">{{ item.id }}</a></td>
                    <td><a href="#" data-toggle="modal" data-target="#rx_modal_detail" v-on:click="rx_detail(item)">{{ item.medic }}</a></td>
                    <td><a href="#" data-toggle="modal" data-target="#rx_modal_detail" v-on:click="rx_detail(item)">{{ item.patient.name }}</a></td>
                    <td><a href="#" data-toggle="modal" data-target="#rx_modal_detail" v-on:click="rx_detail(item)">{{ item.diagnosis }}</a></td>
                    <td><a v-bind:href="print_url + item.id" target="_blank">Ver PDF</a></td>
                  </tr>
                </tbody>

              </table>
            </article>
          </div>

          <!-- NewPrescription -->
          <div role="tabpanel" class="tab-pane" id="create-rx">

            <form id="app-create-rx" class="form-horizontal padding2em">
              <aside class="hidden">
                <input type="text" v-model="payload.patient.external_patient_file">
              </aside>
              <div class="form-group">
                <label for="patient_email" class="col-sm-3 control-label">Email/ID del paciente:</label>
                <div class="col-sm-9">
                  <input type="text" v-model="payload.patient.email" class="form-control" id="patient_email" placeholder="patient@email.com"required>
                </div>
              </div>
              <div class="form-group">
                <label for="patient_name" class="col-sm-3 control-label">Nombre Paciente:</label>
                <div class="col-sm-9">
                  <input type="text" v-model="payload.patient.name" class="form-control" id="patient_name" placeholder="Nombre del paciente"required>
                </div>
              </div>
              <div class="form-group">
                <label for="patient_dob" class="col-sm-3 control-label">Fecha/Nacimiento Paciente:</label>
                <div class="col-sm-9">
                  <input type="text" v-model="payload.patient.date_of_birth" class="form-control" id="patient_dob" placeholder="12-09-1988"required>
                </div>
              </div>
              <div class="form-group">
                <label for="diagnosis" class="col-sm-3 control-label">Diagnostico</label>
                <div class="col-sm-9">
                  <input type="text" v-model="payload.diagnosis" class="form-control" id="diagnosis" placeholder="Diagnostico del paciente"required>
                </div>
              </div>
              <div class="form-group">
                <label for="extras" class="col-sm-3 control-label">Indicaciones Extras:</label>
                <div class="col-sm-9">
                  <input type="text" v-model="payload.extras" class="form-control" id="extras" placeholder="Indicaciones Extras">
                </div>
              </div>
              <section id="medications-app">
                <button class="btn btn-success">+ Med Libre</button>
                <!-- Medication templating -->
                <medication></medication>

              </section>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9 padding2em">
                  <button type="submit" v-on:click="sign_and_send($event)" class="btn btn-primary btn-lg">Firmar Receta</button>
                  <aside>
                    <p><pre>response: {{ $data.send_message }}</pre></p>
                  </aside>


                </div>
              </div>
              <div class="form-group">
                <p><pre>data: {{ $data.payload }}</pre></p>
              </div>
            </form>

          </div><!-- End TabPanel-->
        </div> <!-- End TabContent-->

      </article>
    </div>
  </section>

  <!-- Modal Rx-->
  <div id="rx_modal_detail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Detalle de la Receta</h3>
        </div>
        <div class="modal-body" style="padding-bottom: 2em;">
          <ul v-if="data_loaded" class="list-unstyled">
            <li><strong>ID:</strong> {{ rx.id }}</li>
            <li><strong>Medico:</strong> {{ rx.medic }}</li>
            <li><strong>Paciente:</strong> {{ rx.patient.name }},id/email: {{ rx.patient.email }}</li>
            <li><strong>Diagnostico:</strong> {{ rx.diagnosis }}</li>
            <li><strong>Indicaciones Extra:</strong> {{rx.extras}}</li>
            <li><strong>Medicamentos</strong>{{ rx.medications }}</li>
            <li><strong>Signature:</strong> {{ rx.signature }}</li>
            <li><a v-bind:href="print_url + rx.id" target="_blank">Ver PDF</a></li>
          </ul>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <script src="https://code.jquery.com/jquery-1.12.4.min.js"integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/statics/js/packages/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/statics/js/app.js"></script>
</body>
</html>